.checkbox {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    position: relative;
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.checkbox input[type=checkbox] {
    position: absolute;
    outline: none;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

.checkbox .marker {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    border: 0.15rem solid var(--text-black);
    border-radius: 0.5rem;
}

.checkbox:hover {
    background: var(--checkbox-hover);
}

.checkbox input[type=checkbox]:focus-visible + .marker {
    outline: 0.2rem solid var(--outline-color);
}

.checkbox .marker:before,
.checkbox .marker:after {
    content: "";
    display: block;
    position: absolute;
    background-color: var(--text-green);
    border-radius: 1rem;
    height: 0.4rem;
    top: 50%;
    left: 20%;
    transform-origin: left center;
}

.checkbox .marker:before {
    width: 0.7rem;
    transform: rotate(45deg) translate(-0.25rem, -0.25rem) scaleX(0);
}

.checkbox .marker:after {
    width: 2rem;
    transform: rotate(-45deg) translate(0.1rem, 0.3rem) scaleX(0);
}

.checkbox input[type=checkbox]:checked + .marker:before {
    transform: rotate(45deg) translate(-0.25rem, -0.25rem) scaleX(1);
    transition: transform 150ms ease-in;
}

.checkbox input[type=checkbox]:checked + .marker:after {
    transform: rotate(-45deg) translate(0.1rem, 0.3rem) scaleX(1);
    transition: transform 150ms ease-out 150ms;
}